html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb{
    padding-bottom: 12px;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)!important;
}
.el-table{
    margin-top: 15px;
}
.el-pagination{
    padding-top: 12px;
}
.el-tag{
    margin: 15px;
}
.el-top{
    border-top: 1px solid #eee;
}
.el-bottom{
    border-bottom: 1px solid #eee;
}
.el-row{
    display: flex;
    align-items: center;
}